---
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Barber">
	<main>
		<section class="bg-black h-screen w-screen overflow-hidden">
			<div class="absolute top-0 bottom-0">
			<video autoplay muted loop src="/video2.mp4"></video>
			</div>
		</section>

		<section class="bg-black text-white">
			<div class="">
                <h3 class="py-14">------------</h3>
			</div>
                <div class="flex flex-colum justify-center">
                    <ul>
                        <li>Atención personalizada a los clientes</li>
                        <li>Espacio diferenciado</li>
                        <li>Localización</li>
                        <li>Profesesionales calificados</li>
                        <li>Puntualidad</li>
                        <li>Limpieza</li>
                    </ul>
                    <img src="/Diana.jpeg" class="imagen-diferenciales">
                </div>
		</section>
	</main>
	
</Layout>