---
---

<header class="py-6 px-10 flex items-center fixed top-0 w-full justify-around z-40 text-white">
    <div>
       <img class="w-10" src="/Logo-La-Barber amarillo.png" alt="La Barber"> 
    </div>
        <nav>
            <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4">
                <li><a href="/index">Home</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/galeria">Galeria</a></li>
            </ul>
        </nav>
</header>